@import "base"
// @import "components"

// font-face('objectsans-bold', 'objectsans-bold')
// font-face('objectsans-bolditalic', 'objectsans-bolditalic')
// font-face('objectsans-italic', 'objectsans-italic')
// font-face('objectsans-regular', 'objectsans-regular')
font-face('ostrich-sans-rounded', 'ostrichsans/ostrich-sans-rounded')
font-face('ostrich-sans-light', 'ostrichsans/ostrich-sans-light')
font-face('ostrich-sans-regular', 'ostrichsans/ostrich-sans-regular')
font-face('ostrich-sans-black', 'ostrichsans/ostrich-sans-black')
font-face('ostrich-sans-bold', 'ostrichsans/ostrich-sans-bold')
font-face('ostrich-sans-dashed', 'ostrichsans/ostrich-sans-dashed')
font-face('ostrich-sans-inline-italic', 'ostrichsans/ostrich-sans-inline-italic')
font-face('ostrich-sans-inline-regular', 'ostrichsans/ostrich-sans-inline-regular')

:root
  --app-height 100vh

html
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box
  -webkit-tap-highlight-color transparent
  font-family Helvetica, Arial, sans-serif
  // overflow hidden

*, *:before, *:after
  box-sizing border-box
  margin 0

body
  // overflow hidden
  // position fixed
  // width 100%
  // height 100% !important

a
  color black
  font-family objectsans-italic!important
  font-weight 800!important

.page
  width 100
  height 100%